/**
#loading {
    z-index: 9999;
}
#tools {
	min-width: 320px;
	width: 320px;
	max-width: 320px;
}

#mapCol {
	min-width: 400px;
}

#tabsCol {
	min-width: 800px;
	width: 800px;
	height: 100%;
}

#texto {
	margin-left: 5px;
	width: 250px !important;
	margin-bottom: 10px;
	margin-top: 5px
}

.tocHidden {
	display: none;
}

body {
	text-align: left;
}

.ol-popup {
	height: auto;
}
.layer_enabled .chk_layer,.sita_enabled .chk_layer {
	visibility: visible;
}

.textToc {
	color: grey;
}

.textToc b,.layer_enabled .textToc,.sita_enabled .textToc {
	color: black;
}

#map {
	border: none;
}

.chartSITA {
	width: 750px;
}

#infoPanel_control {
	padding-left: 3%;
	width: 96%;
}

#zoomSlider .ui-slider-handle {
	margin-left: 5px;
}

#data_accordion .ui-accordion-header.ui-state-active {
	color: black !important;
}

#data_accordion .ui-accordion-header {
	background: none !important;
	border: medium none !important;
	color: #555 !important;
	text-align: left;
}

#data_accordion .ui-state-active .ui-icon {
	background-image:
		url(/lib/jquery/jquery-ui-1.10.3.custom/css/smoothness/images/ui-icons_454545_256x240.png)
		!important;
}

#data_accordion .ui-icon-triangle-1-s {
	background-position: -64px -16px;
}

#data_accordion .ui-icon {
	background-image:
		url(/lib/jquery/jquery-ui-1.10.3.custom/css/smoothness/images/ui-icons_888888_256x240.png)
		!important;
}

#data_accordion .ui-icon-triangle-1-e {
	background-position: -32px -16px;
}

#data_accordion .ui-widget-content {
	border: none;
}

#layerLegendWin,#fondosWin {
	display: none;
	overflow: auto;
	max-width: 400px;
}

#fondosWin .ui-button {
	height: 80px;
	width: 78px;
	font-size: 8pt;
}

#fondosWin .ui-button .ui-icon {
	height: 60px;
	left: 5px;
	padding: 0;
	top: 25px;
	width: 68px;
}

#fondosWin .ui-button .ui-button-text {
	padding: 0 !important;
}

#toggleFondos {
	float: right;
}
#toggleFondosDiv:not(.ol-collapsed ){
 border: solid 1px #0079B1 !important;

}
#toggleFondosDiv {
	height: 0px;

}

.titulo {
	font-family: Dosis, Arial, sans-serif;
	font-size: 36px;
	color: gray;
	margin-left: auto;
	margin-right: auto;
}

.huecoTitulo {
	padding-top: 50px;

}

tr#2 {
	display: none;
}

#texto0 {
	height: 30px;
	width: 900px;
	border: solid 1px #0079b1;
	font-family: Dosis, Arial, sans-serif;
	font-size: 16px;
	padding-left: 5px;
}

#page0 {
	text-align: center;
	font-family: Dosis, Arial, sans-serif;
	font-size: 16px;
	margin-top: 57px;
}

#searchButton0 {
	height: 29px;
}

#sliderDistContainer {
    padding-top: 10px;
    display: inline-block;
width: 200px;
    padding-left: 15px;
    padding-right: 15px;
}
#custom-handle-distancia{
line-height: 10px;
    top: -5px;
    width: 20px;
    height: 20px;
    text-align: center;
	}

*/


#page0 {
	text-align: center;
	font-family: Dosis, Arial, sans-serif;
	font-size: 16px;
	margin-top: 57px;
}

.ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 4px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }

@media screen and (min-width:500px) {
	.huecoTitulo {
		padding-top: 50px;
	}
}


@media screen and (max-width:500px) {
	.huecoTitulo {
		padding-top: 5px;
	}
}

.titulo {
	font-family: Dosis, Arial, sans-serif;
	font-size: 36px;
	color: gray;
	margin-left: auto;
	margin-right: auto;
}
/**
#texto0 {
	height: 30px;
	width: 900px;
	border: solid 1px #0079b1;
	font-family: Dosis, Arial, sans-serif;
	font-size: 16px;
	padding-left: 5px;
}
*/

#loading {
     width:120px;
     top: 45%;
     left: 45%;
     position: absolute;
     padding:15px;
     text-align:center;
     z-index: 9999;
}


.grafico p {
	margin: 0px;
	padding: 0px;
	font-size: 10pt;
}

.map-lens div span{
	font-size: 9pt;
}

#layers .name{
	    display: inline;
}