body {
	overflow: hidden;
}

body, input, select, textarea, button, .ui-btn {
	font-family: "Open Sans", sans-serif;
}

#mainPage {
	height: 100%;
}

#map {
	width: 100%;
	height: 100%;
}

.toolbar {
	position: fixed;
	height: 50px;
	width: 100%;
	z-index: 500;
	background-color: rgba(0, 0, 0, 0.7);
	top: 83px;
}

#bottomToolbar {
	right: 0;
}

@media screen and (max-width:500px) {
	#bottomToolbar {
		bottom: 15px;
		top: unset;
	}
	.toolbar {
		width: 100%;
		top: 64px;
	}
}

.toolbar a {
	border: none !important;
	top: 5px;
	height: 40px;
	width: 40px;
	margin: auto !important;
	padding: 0;
}

.ui-icon-print:after{
	background:none;
}

.ui-icon-print {
	background: white
		url(/lib/IDEAragon/themes/default/images/print.png) center
		center/cover no-repeat !important;
}

.ui-icon-searchMap {
	background: white
		url(/lib/IDEAragon/themes/default/images/binocular.png) center
		center/cover no-repeat !important;
}

.ui-icon-graticule {
	background: white
		url(/lib/IDEAragon/themes/default/images/graticule.png) center center/cover
		no-repeat !important;
}

.ui-icon-location {
	background: white url(/lib/IDEAragon/themes/default/images/position.png) center center/cover no-repeat
		!important;
}

.ui-icon-edit {
	background: white url(/lib/IDEAragon/themes/default/images/pencil.png)
		center center/cover no-repeat !important;
}

.ui-icon-rjt {
	background: white url(/lib/IDEAragon/themes/default/images/rjtRO.png)
		center center/cover no-repeat !important;
}

.ui-icon-location {
	background: white url(/lib/IDEAragon/themes/default/images/position.png)
		center center/cover no-repeat !important;
}

.ui-icon-layers {
	background: white url(/lib/IDEAragon/themes/default/images/layers.png)
		center center/cover no-repeat !important;
}

.ui-icon-information {
	background: white url(/lib/IDEAragon/themes/default/images/identify.png)
		center center/cover no-repeat !important;
}

.ui-icon-measure {
	background: white
		url(/lib/IDEAragon/themes/default/images/ruler.png) center
		center/cover no-repeat !important;
}

.ui-icon-profile {
	background: white
		url(/lib/IDEAragon/themes/default/images/profileRO.png) center center/cover
		no-repeat !important;
}

.ui-icon-track {
	background: white url(/lib/IDEAragon/themes/default/images/track.png)
		center center/cover no-repeat !important;
}

.ui-icon-weather {
	background: white url(/lib/IDEAragon/themes/default/images/weather.png)
		center center/cover no-repeat !important;
}

.ui-icon-incidence {
	background: white url(/lib/IDEAragon/themes/default/images/warning.png)
		center center/cover no-repeat !important;
}

.ui-icon-login {
	background: white url(/lib/IDEAragon/themes/default/images/user.png)
		center center/cover no-repeat !important;
}

.ui-icon-3d {
	background: white url(/lib/IDEAragon/themes/default/images/3dRO.png)
		center center/cover no-repeat !important;
}

.ui-icon-circle {
	background: white
		url(/lib/IDEAragon/themes/default/images/bufferCirculoRO.png) center
		center/cover no-repeat !important;
}

#location {
	background-image: url(/lib/IDEAragon/themes/default/images/location.png);
	height: 25px;
	width: 25px;
	background-size: cover;
}

.toolbar .ui-btn-icon-top:after {
	display: none;
}

#locationWin div {
	margin: 10px;
}

.popup label {
	display: inline-block;
	font-weight: bold;
}

#measure-pill-units label {
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	/*position: relative;
	bottom: 10px;*/
}

#measure-pill-units .ui-select {
	width: 150px;
	display: inline-block;
}

#measureGraph {
	transform: rotate(270deg);
	transform-origin: left top 0;
	float: left;
	width: 250px;
	text-align: center;
	margin-left: 10px;
	font-size: 10pt;
}

#unitsGraph {
	font-size: 10pt;
	width: 100%;
	text-align: center;
	position: relative;
	right: 120px;
}

#altitudeGraph {
	margin-left: 20px !important;
	height: 300px;
}

#unitsMeasureSelectGraph-button {
	text-align: left;
	padding: 5px;
}

#profileClose {
	right: 5px;
	position: absolute;
	top: 0;
}

#calculatingProfileOverlay {
	left: 45%;
	top: 25%;
	position: absolute;
}

#unitsMeasureSelectGraph-button span {
	margin-left: 5px;
}

#tocToolbar i, #trackDialog i, #drawDialog i {
	padding-right: 5px;
}

#tocDelete {
	margin-right: 0;
	text-align: center;
	width: 100%;
	margin-top: 10px;
}

#tocDelete.dropAreaHover, #fondos .btnFondo.fondoSelected {
	background-color: #38c;
	border-color: #38c;
	color: #fff;
	text-shadow: 0 1px 0 #059;
}

#trackNamePopup div, #drawNamePopup div {
	margin-left: 5px;
	margin-right: 5px;
}

#tocDialog ul, #availableWMSLayers {
	list-style: none;
	padding-left: 0;
}

#tocDelete i {
	margin-right: 5px;
}

.addBtn, .infoBtn, .legendBtn, .legendBtn, .showBtn, .activateBtn, .plotBtn, .deactivateBtn {
	display: inline;
	border-width: 0;
}

.addBtn, .showBtn, .activateBtn, .deactivateBtn {
	margin-right: 24px;
}

.infoBtn, .legendBtn {
	margin-right: 14px;
}

#layersContainer {
	padding-top: 0
}

.dialogTitle.ui-title {
	margin-left: 0;
	width: 100%;
}

#fondos .btnFondo {
	font-size: 10px;
	padding-top: 65px;
	padding-bottom: 0;
	width: 60px;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: 5px;
}

#fondos {
	margin-top: 0;
	padding: 0;
	text-align: center;
}

.btnFondo:after {
	display: none;
}

#fondos li {
	display: inline-block;
	margin-right: 15px;
}

.fondo_opts {
	width: 82px;
	font-size: 10px;
}

.fondo_opts span {
	font-size: 11px;
}

.fondo_opts .ui-btn {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#availableLayers li,#availableWMSLayers li {
	margin-bottom: 5px;
	padding-left: 15px;
}

#trackInfo label {
	display: inline;
	font-weight: bold;
	margin-left: 5px;
}

#weatherDialog .dailyWeather.ui-collapsible {
	margin: 0;
}

.imgToc {
	height: 30px;
	width: 30px;
}

.chk_layer {
	position: relative;
	top: 9px;
}

#searchResults {
	display: none;
}

#searchResults .itemResult a {
	font-size: 14px;
	white-space: normal;
}

#searchDialog .ui-input-text, #searchDialog .ui-link {
	display: inline-block;
}

#searchDialog .ui-input-text {
	vertical-align: text-bottom;
	width: 80%;
}

#searchingOverlay, #calculatingRJTOverlay,#wmsOverlay {
	text-align: center;
}

.ui-dialog .ui-title {
	margin: 0;
}

#searchDelete {
	/*font-size: 11pt;
    font-weight: normal;*/
	clear: both;
}

.ui-btn i {
	margin-right: 5px;
}

#searchDiv {
	text-align: center;
	min-height: 30px;
}

#searchText {
	float: left;
	margin-right: 8px;
	padding: 4px;
}

#searchBtn, #cancelSearchBtn {
	display: inline-block;
}

.ui-draggable {
	z-index: 1001;
	background-color: white !important;
	-webkit-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	position: absolute;
	top: 132px;
	left: 50%;
	width: fit-content;
}

ul.pagination {
	width: 100%;
	text-align: center;
}

.pagination li {
	display: inline-block;
	padding: 5px;
}

.no-result {
	display: none;
}

.toc_categoria, .toc_info {
	font-size: 12px;
	padding-left: 38px;
	display: none;
}

#profileDialog {
	min-height: 460px;
}
/*#availableLayers, #rjtResults, #infoResults, #layers,#descargasResults,#availableWMSLayers {
	max-height: 300px;
}*/


#wmsContainer .ui-field-contain label{
    width: 50px;
}

#layersWMS .ui-btn{
	bottom: 3px;
    left: 5px;
}

#infoResultsDiv {
	width: 100%;
}


#layers li {
	clear: both;
}

#layers a.infoBtn, #layers a.legendBtn {
	margin-left: 10px;
}

a.plotBtn {
	margin-left: 20px;
}
.leyendaCapa img {
	float: left;
	clear: both;
}

ul.toc_theme_list {
	padding-bottom: 20px;
}

li.toc_theme {
	display: inline-block;
	text-align: center;
}

#addlayersContainer {
	width: 100%;
	padding: 0;
}

#addAllWMSLayers{
	display:none;	
}
.dialogWindow.ui-resizable.ui-draggable{
	-webkit-transform: none;
	transform: none;
}
.dialogWindow {

	width: 30%;
	max-width: 100%;
	max-height:90%;
	display: none;

}
.dialogWindow.ui-resizable {
	padding-bottom: 15px;
}

.dialogWindow .dialogFullContent{
	overflow: auto;
	max-height:100%;
	
}
.dialogWindow.fixedLeft {
	left: 0;
	-webkit-transform: none;
	transform: none;
}
.dialogWindow.fixedRight {
	right: 0;
	position: absolute !important;
	left: unset ;
	-webkit-transform: none;
	transform: none;
}


.dialogWindowMaxWidth {
	min-width: 100%;
	max-width: 100%;
	display: none;
}

@media screen and (max-width:600px) {
	.dialogWindow {
		width: 100%;
		max-width: 100%;
	}
	.ui-draggable {
		top: 115px;
	}
	#wmsContainer .ui-input-text{
		width:70%;
	}
}

#colecciones{
    max-width: 90%;
}
.oculto {
	display: none !important;
}

#tocTabs {
	padding-right: 6px;
}

#registrationDialog {
	height: 100%;
	/*min-height: 400px;*/
}

#registrationDialog .ui-dialog-contain {
	margin-top: 30px;
}

#registrationForm th {
	text-align: left;
}

#registrationForm input {
	max-width: 410px;
}

.dialogContent {
	padding: 10px;
    overflow-y: auto;
  
}

.tabSelected {
	background-color: #38c !important;
	border-color: #38c !important;
	color: #fff !important;
	text-shadow: 0 1px 0 #059 !important;
}

#divMuniWeather, #aemetRef {
	padding: 10px;
}

#previsiones {
	max-height: 360px;
	
}

#loginForgot {
	text-align: center;
}

#loginDataForm input {
	width: 100%;
}

#tocToolbar .ui-btn.ui-btn-active {
	/*background-color: #38c;
    border-color: #38c;
    color: #fff;
    text-shadow: 0 1px 0 #059;*/
	background: #f6f6f6;
	border-color: #ddd;
	color: #333;
	text-shadow: 0 1px 0 #f3f3f3;
}

.ol-rotate {
	top: 170px;
}
.ol-zoom{
	top: 135px;
}
#btn3D {
	top: 135px;
	right: .5em;
	transition: opacity .25s linear, visibility 0s linear;
}

.ol-zoom-extent , .ol-touch .ol-zoom-extent{
    top: 195px;
}
.ol-zoom-extent button{
background: white url(/lib/IDEAragon/themes/default/images/fullExtentRO.png) center center/cover no-repeat !important;
}

#btnGraticule {
	top: 205px;
	right: .5em;
	
}

#northIcon {
	transform: rotate(315deg);
}

.ol-control button {
	background-color: rgba(51, 136, 204, 0.7);
}

.ol-attribution, .ol-attribution.ol-uncollapsible {
	bottom: 30px;
	
}
.ol-attribution li {
	display:list-item;
}

.redText{
	color: rgb(255, 0, 0);
}

#btnPosition{
	
	right: .5em;
    bottom: 65px;
    height: 26px;
}

#btnScale{
	left: .5em;
    bottom: 30px;
    height: 26px;
}

#locationInfo,#scaleInfo, #scaleInfo label{
	height: 100%;
	background: rgba(255,255,255,.8);
	font-size: .7rem;
    color: #000;
    text-shadow: 0 0 2px #fff;
    
}

#locationInfo{
	float:left;
}
#changeScale,#scaleTextBox{
	display: inline-block;
}
#changeScale{
	margin:0;
	height: 90%;
}
#scaleInfo{
	float:right;
}
#scaleTextBox{
	width: 70px;
	float:right;
}
#scaleBox label{
	margin-top: 3px;
	display:inline-block;
	margin-right: 2px;
}
#scaleBox{
	margin-left: 5px;
	margin-top: 2px;
    height: 20px;
	float:left;
}
 #locationInfo .pos {
 	float:left;
    margin-left: 10px;
    position: relative;
	bottom: 2px;
    
}

#selectSRS{
	margin-top: 3px;
	margin-right: 5px;
}
.ol-mouse-position {
    position: relative;
}
.ol-overviewmap {
    bottom: 65px;

}
.ol-overviewmap-map{
    background:white;
}

.ol-scale-line {
	bottom: 30px;
	background: rgba(51, 136, 204, .3);
	left: 45px;
}
@media (hover: none) and (pointer: coarse) {
#btnPosition {
		display: none;
	}
	}
@media screen and (max-width:500px) {
	.ol-zoom {
		top: 117px;
	}
	.ol-scale-line, .ol-attribution, .ol-attribution.ol-uncollapsible,
		#btnScale {
		bottom: 70px;
	}
	.ol-touch #btnScale,.ol-touch #btnPosition {
		height: 34px;
	}
	#scaleBox {
		margin-top: 5px;
	}
	#btnPosition, .ol-overviewmap {
		bottom: 110px;
	}
	.ol-touch #selectSRS {
		margin-top: 8px;
	}
	.ol-touch #locationInfo .pos {
		margin-top: 5px;
	}
	#btn3D {
		top: 120px;
	}
	.ol-rotate {
		top: 155px;
	}
	#btnGraticule {
		top: 192px;
	}
}

#profileDelete{
	height: 50px;
    margin-left: 15px;
    vertical-align: bottom;
}



#measureDialog .ui-input-text, #measureDialog .ui-select {
	width: 160px;
}

#measureDialog .ui-field-contain label {
	width: 90px;
}

.ui-slider #transpTocSlider, .ui-slider #transpFondoSlider , .ui-slider #distanciaSlider {
	display: none;
}

#tocDialog .ui-slider-track {
	margin: 0 50px 0 50px;
}

#distanciaDialog .ui-slider-track {
	margin: 0 60px 0 60px;
}

#incTranspToc, #incTranspFondo, #incDistancia {
	right: 0;
	bottom: 15px;
	position: absolute;
	height: 30px;
}

#decTranspToc, #decTranspFondo, #decDistancia {
	float: left;
	height: 30px;
}

#transpTocSlider-label {
	margin-top: 10px;
}

#transpTocDiv, #transpFondoDiv, #distanciaDiv {
	margin: 0;
	padding-top: 0;
}

#radiusLabel {
	width: 120px;
}

#bufferText {
	max-width: 250px;
	text-align: center;
}

#bufferDialog .ui-input-text {
	width: 150px;
}

#rjtLegalTextDialog .dialogContent {
	height: 90%;
}

#avisoGeomRJT {
	color: rgb(0, 121, 177);
	font-style: italic;
}

.item_rjt.disabled .name, .item_info.disabled .ui-collapsible-heading-toggle {
	color: grey;
}

.item_info.disabled .ui-collapsible-content {
    display: none;
}

.item_info.disabled .ui-btn {
    cursor: initial;
}

#infoResults.ui-collapsible-set .ui-collapsible {
    margin: -1px -0.5em 0;
}

#infoResults .ui-listview li {
    margin: 2px;
}

.item_rjt.disabled .showBtn, .item_rjt.disabled .activateBtn, .item_rjt.disabled .deactivateBtn,
	.item_rjt.disabled .infoBtn, .item_rjt.onlyRJTPoints .activateBtn {
	visibility: hidden;
}

.item_rjt {
	margin-bottom: 5px;
}

#rjtResultsDiv {
	width: 100%;
}

#rjtBtns .btn {
	width: 120px;
}

#rjtBtns {
	text-align: center;
}

#btnStopRJT {
	display: inline-block;
}

#searchHelp h4 a {
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#searchHelp .ui-collapsible-content {
	overflow: auto;
	max-height: 40%;
}

#muniCList {
	z-index: 9999;
	background: white !important;
	height: 100%;
}

#muniClist .ui-dialog-contain {
	margin-top: 30px;
}

#muniCListContainer {
	overflow: auto;
	max-height: 85%;
}

#muniCList table {
	margin: auto;
	margin-bottom: 15px;
	margin-top: 10px;
}

#muniCList th {
	background-color: #dbdcdc;
}

#muniCList td {
	border-style: dotted !important;
	border-width: 1px !important;
}

#rjtResults .name,#descargasResults .name {
	float: right;
}

#rjtResults .infoBtn, #rjtResults .activateBtn, #descargasResults .infoBtn, #descargasResults .activateBtn  {
	display: inline-block;
}

#rjtResults .ui-collapsible-heading-toggle, #descargasResults .ui-collapsible-heading-toggle  {
	margin: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 30px;
	background: #f6f6f6;
	border-color: #ddd;
	color: #333;
	text-shadow: 0 1px 0 #f3f3f3;
}

#rjtResults .disabled .ui-collapsible-heading-toggle {
    color: #ccc;
}

.item_rjt.disabled .ui-btn-icon-left:after {
	visibility: hidden;
}

#rjtResults .ui-tabs {
	border: 1px solid #e9e9e9;
	border-radius: 0;
}

#rjtResults .ui-tabs-panel {
	padding-bottom: 0;
}

#rjtResults .ui-collapsible-content, .item_rjt .tabContainer .ui-listview a
	{
	font-size: 13px;
}

.item_rjt .tabContainer img {
	height: 20px;
	padding-top: 8px;
	margin-left: 5px;
}

.item_rjt .tabContainer .ui-listview {
	margin-top: 0;
	margin-bottom: 0;
}

.item_rjt .tabContainer .ui-listview li.ui-li-has-thumb .ui-btn {
	min-height: 0;
	padding-left: 40px;
}

.item_rjt.onlyRJTPoints  .tabContainer .ui-listview li {
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #80808026;
}

#rjtDialog .ui-content {
padding-bottom: 0;
padding-top: 0;
}

#infoTooltip {
	background-color: white;
	opacity: 0.9;
	filter: alpha(opacity = 90); /* For IE8 and earlier */
	font-size: 10pt;
	font-family: "Open Sans", sans-serif;
	margin: 3px;
	border: 2px solid black;
	border-radius: 10px 10px 10px 0;
	padding: 2px 5px 2px 5px;
	z-index:9999;
	max-height: 200px;
overflow: auto;
}

#infoTooltip a {
	color: black;
}

#rjtInfo, #prodInfo {
	padding: 10px;
}

#rjtInfo-popup , #prodInfo-popup{
	max-width: 30% !important;
	background-color: white;
}

#infoPopup {
	max-width: 100% !important;
	background-color: white;
	padding: 5px;
}

@media screen and (max-width:500px) {
	#rjtInfo-popup, #prodInfo-popup {
		max-width: 100% !important;
	}
	#infoPopup {
		padding: 2px;
	}
}

#rjtInfo span, #rjtInfo span h3,#prodInfo span, #prodInfo span h3 {
	font-weight: normal;
	font-size: 1em;
}

.drawTypeSel .ui-input-text{
	height: 30px;
    width: 100px;
    display: inline-block;
    vertical-align: baseline;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;
}

#radiusText{
	position:inherit;
}

#drawCircleLabel{
	padding-bottom: 5px;
    padding-top: 5px;
}

#boaDateEditor .ui-input-text, #boaDateText,#boaDateLabel, #boaDateText a,#boaDateEditor a{
	display:inline-block;
}

#boaDateLabel{
	padding-left: 5px;
    font-size: 11pt;
}

#boaDateEditor .ui-input-text{
    margin: 0;
    height:30px;
}

#boaDateEditor{
    height: 30px;
}

#boaDateEdit{
	vertical-align: middle;
	bottom: 1px;
    width: 22px;
    height: 22px;
    left: 1px;
}

#boaDate{
	height: 30px;
    min-height: 0;
}

#boaLayers .ui-collapsible-heading-toggle{
	padding-top: 1px;
	padding-bottom: 0;
	line-height: 32px;
    height: 35px;
}

#boaLayers a.ui-icon-refresh{
vertical-align: middle;
    bottom: 3px;
    width: 22px;
    height: 22px;
    left: 1px;
}

#ui-datepicker-div{
	background: white;
    border: 1px solid #8080804f;
}

.ui-icon-circle-triangle-w{
	background-image:url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20points%3D%2210.596%2C11.949%205.646%2C7%2010.596%2C2.05%208.475%2C-0.071%201.404%2C7%208.475%2C14.07%20%22%2F%3E%3C%2Fsvg%3E")
}

.ui-icon-circle-triangle-e{
	background-image:url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20points%3D%223.404%2C2.051%208.354%2C7%203.404%2C11.95%205.525%2C14.07%2012.596%2C7%205.525%2C-0.071%20%22%2F%3E%3C%2Fsvg%3E")
}

.ui-datepicker td span, .ui-datepicker td a {
    color: black;
}

.ui-datepicker-current-day{
	background-color: lightgrey;
}
.boaLinks{
	margin-left:5px;
	padding-left: 10px;
	font-size: 10pt; 
	text-align: justify; 
	text-decoration: dotted;
}

.boaTitle{
	font-size:12pt;
}

#boaLayerList{
	margin-top: 0;
}

#newUserLayer{
	position: absolute;
    right: 0;
    bottom: 0px;
}

#newUserLayer .ui-btn{
	margin:0;
}

#userLayersDiv label{
    margin-top: 0;
    width: 160px;
    float: right;
}
#colecciones-chosen .chosen-results{
	max-height: 200px;
}

#descargasContainer{
	min-height: 300px;
}

.item_descargas .itemEnlace img{
	    margin-left: 4px;
    width: 22px;
    vertical-align: text-bottom;
}

#selectCol{
	display:none;
}

#calculatingDescargasOverlay{
	text-align:center;
}

#esquemaDescarga img{
	vertical-align: text-bottom;
}

#esquemaDescarga{
	margin-left: 5px;
}

#incidenceDialog label{
	width: 27%;
}
#incidenceDialog input{
	width: 70%;
}
.ui-navbar li:last-child .ui-btn {
    margin-right: 0;
}

.ui-icon-gripsmall-diagonal-se {
	 cursor: se-resize;
    width: 16px;
    height: 16px;
    right: 1px;
    bottom: 1px;
	    vertical-align: middle;
    margin-top: -.25em;
   background-image: url(/lib/jquery/jquery-ui-1.12.1/images/ui-icons_444444_256x240.png);
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
    background-position: -64px -224px;
}

.ui-field-contain{
	border-bottom-width:0;
	padding:0;
	margin-top: 1em;
margin-right: 0px;
margin-bottom: 1em;
margin-left: 0px;
}

.ui-field-contain::before, .ui-field-contain::after {

    content: "";
    display: table;

}

.ui-field-contain > label, .ui-field-contain .ui-controlgroup-label, .ui-field-contain > .ui-rangeslider > label {

    float: left;
    width: 20%;
    margin: .5em 2% 0 0;
        margin-top: 0.5em;

}

.ui-field-contain::after {

    clear: both;

}

.ui-field-contain > label ~ [class*="ui-"], .ui-field-contain .ui-controlgroup-controls {

    float: left;
    width: 78%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}

.selectedItem{
	border: 2px solid grey;
    border-radius: 5px;
    font-weight: bolder;
    background:white;
}

.chosen-container.chosen-with-drop .chosen-drop{
	position:relative;
}

#selMuniWeather_chosen{
	position:unset;
}

#delLayerPopup{
	background-color:white;
}