#foot_int {
    padding-top: 5px;
    height: 15px;
    font-size: 11px;
    color: #5f6061;
	position: fixed;
	width: 100%;
	bottom: 0;
}
.noticias_footer {
    float: left;
    padding-left: 5px;

}
.enlaces_footer{
    float: right;
	padding-right: 5px;
}

#recargado{
	display: inline-block;
}

#foot_int ul {
    list-style: none;
    margin: 0;
}

#foot_int li {
    float: left;
    margin-left: 10px;
}
#foot_int li a {
    text-decoration: none;
    color: #5f6061;
}
#foot_int a {
    text-decoration: none;
    color: black;
    font-weight:normal;
}
.textoInvRojo {
    color:     #CC0000;
}
@media screen and (max-width:400px) {
	.noticias_footer {
		display: none;
	}
	#foot_int {
		height: 15px;
		padding-top: 0px;
	}
	
	#foot_int li a {
		font-size: 8px;
	}
	#foot_int ul {
	    padding-inline-start: 0px;
	}
}